<html>
<head>
<title>Video Processing</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>

<center>
<!-- start writing below -->
<form method="post" action="/" enctype="multipart/form-data">
<h1>Video Processing</h1><hr>
<h2>Select a video file to upload and Convert it into Black & White Video</h2><br>
<input class="btn btn-primary btn-lg" type="file" name="file"><br>
<input class="btn btn-primary btn-lg" type="submit" value="Submit"><br></form>
<video autoplay="autoplay" controls="controls">
	<source src="{{url_for('display_video',filename=filename)}}" type="video/mp4"></source>
</video>
<a  href="{{ url_for('.download_file') }}" class="btn btn-primary btn-lg">Download Black & White video</a>











<!-- end -->
</center>

</body>
</html>




